body {
  margin: 0;
    width: 1500px;
}
.container {
 margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}
header {
  padding-top: 35px;
  padding-bottom: 20px;
}



.heading hr {
  float: left;
  width: 75px;
  margin-top: 23px;
  margin-left: 25px;
}

span {
  font-family: 'DM Serif Text', serif;
letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 15px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: .8em;
}

.logo {
  float: left;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  width: 65%;
  font-size: 6em;
  letter-spacing: 8px;
  margin-bottom: 25px;
  line-height: .8em;
}

header p {
  font-family: 'DM Serif Text', serif;
  width: 50%;
  font-size: 1.3em;
}

h2 {
  font-family: 'DM Serif Text', serif;
  font-weight: 700px;
  font-size: 3em;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-weight: 500px;
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
}

.article1 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 200px;
}

.article1 .text {
  width: 70%;
  padding-right: 100px;
  float: left;
  box-sizing: border-box;
}

.article1 img {
  width: 30%;
  height: 520px;
}

.article1 .img2 {
  height: 250px;
}

.clientImg {
  margin-left: 150px;
  margin-right: 110px;
  margin-top: 60px;
}

.clientImg img {
  width: 16.66%;
  float: left;
  box-sizing: border-box;
}

.clientArticle {
  margin-top: 100px;
}

.clientArticle .heading hr {
  margin-left: 0px;
}

.whatDo {
  margin-top: 200px;
  margin-left: 150px:
}

.whatDo .heading {
  margin-left: -25px;
}

.wrapper {
  margin: 50px 125px;
  overflow: hidden;
}

.clientPro {
  width: 33.33%;
  float: left;
  margin-bottom: 15px;
  padding: 0 5px;
  box-sizing: border-box;
}

.clientPro img {
  display: block;
  max-width: 400px;
  max-height: 500px;
  width: auto;
  height: auto;
  padding-left: 20px;
}

.containerImg {
  margin-left: 50px;
}

.containerImg p {
  font-family: 'DM Serif Text', serif;
  letter-spacing: 3px;
  font-size: 1.2em;
  margin-left: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.fullForm{
    margin: 20px 0px;
  background-color: #f7f8fa;

}
.former{

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 170px;
  padding-right: 200px;

  /* margin: 50px 200px 0px 175px; */
overflow: hidden;
}
.formImg{
  width: 30%;
  float :left;
  box-sizing: border-box;
}
.formObj{
 max-width: 70%;
  font-size: 1.2em;
  padding-left: 100px;
  padding-right: 0px;
   float :left;
   box-sizing: border-box;
 }

.formImg img{
  width: 100%;
  height: 500px;
  padding-left: 20px;
}
.formObj h1{
  width: 100%;
  font-weight: 700px;
  font-size: 3em;
}
.formObj .col1{
  background-color: #f7f8fa;
  font-size: 1.2em;
  padding-top: 40px;
  width: 99.3%;
  border: 0;
  border-bottom: 1px solid;
  outline: none;
}
.formObj  .col2{
  background-color: #f7f8fa;
  font-size: 1.2em;
  padding-top: 10px;
  margin-top: 20px;
  width: 48.5%;
  float: left;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid;
  outline: none;

}
#email{
  margin-left: 15px;
}
.formObj .but{
  height: 50px;
  width: 110px;
  margin-top: 35px;
  background-color: black;
  color: white;
  font-size: 1.2em;
}

.footer{
  width: 100%;
  font-family: 'Oswald', sans-serif;
  height: 300px;
}
.hero-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
 background-image:url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__340.jpg);

 /* Set a specific height */
 height: 100%;

 /* Position and center the image to scale nicely on all screens */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}
.footerTxt{
  width: 45%;
  padding: 50px 0px;
  margin:0px 200px;
  color: white;
}
.footerTxt a{
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
.copyright{
  padding-top: 15px;

}
.copyright h5{
  display: inline-block;
  padding-left: 20px;
}
